# Entornos virtuales
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
*.sqlite3

# Archivos estáticos generados
staticfiles/

# Archivos subidos por usuarios
media/

# Variables sensibles
.env

# Logs
*.log

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Temporales
*.tmp
*.swp

# Empaquetado
build/
dist/
*.egg-info/
