/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --primary: #175EAC;
    --secondary: #58585A;
    --terciary: #353535;
    --bg: #f7f7f7;
}

/* BASE */
body {
    background: var(--bg);
    line-height: 1.6;
    font-family: "Inter", sans-serif;
}


body {
    background-color: var(--bg);
}


header {
    padding: 0px 0;
    background-color: #ffffff;
}


.icono_home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

header nav { display: flex; justify-content: space-between; /* logo a la izquierda, menÃº a la derecha */
             align-items: center; /* alinea verticalmente */ 
             padding: 0 60px;}


header .contenedor_header a{
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 120px;
    height: 60px;

    text-decoration: none;
    text-align: center;
    color: var(--primary);
    font-size: 18px;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
  
}

@media (max-width:480px ) {header .contenedor_header {
    display: none;
}}


.contenedor_logo_icon {
    justify-content: center;
    align-items: center;
    
}

.menu_movil {
    display: none;
}

@media (max-width:480px ){.menu_movil {
    display: block;
}

}


.contenedor_logo_icon {
    justify-content: center;
    align-items: center;
    
}


.logo_icon {
    width: 90px;
    height: auto;
}

header .contenedor_header a:hover {
    border-bottom-color: var(--primary);
}

header .contenedor_header a.is-active {
    border-bottom-color: var(--primary);
}


.contenedor_header {
    padding-right: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}


footer {
    background-color: #175EAC;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    width: auto;
}

@media (max-width:480px ) {footer {
    justify-content: center;
    gap: 25px
}}

footer p {
    color: var(--bg);
    font-size: 20px;
    font-weight: 300;
    }
    
@media (max-width:480px ) {footer p {
    font-size: 9px;
}}
.texto_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

@media (max-width:480px ) {.texto_footer {
    gap: 0px;
    align-items: center;
    text-align: left;
    width: 25%;
}}

@media (max-width:480px ) {.texto_footer p{
    text-align: left;
}}
.siguenos p {
    font-weight: 600;
}

@media (max-width:480px ) {.siguenos p {
    display: none;
}}

.iconos_redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width:480px ) {.iconos_redes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}}

.iconos_redes a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.iconos_redes svg{
    height: 20px;
    width: auto;

}

@media (max-width:480px ) {.iconos_redes svg {
    height: 10px;
    width: auto;
}}

.contacto_texto {

    align-items: flex-start;
}

.bloque_contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

@media (max-width:480px ) {.bloque_contacto {
    gap: 10px;
}}

.contactanos p {
    font-weight: 600;
}

@media (max-width:480px ) {.contactanos p {
    display: none;
}}

.datos_contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

@media (max-width:480px ) {.datos_contacto {
    gap: 5px;
}}

.telefono, .correo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

@media (max-width:480px ) {.telefono, .correo {
    gap: 2px;
}}

.datos_contacto svg{
    color: var(--bg);
    fill: currentColor;
    height: 30px;
    width: auto;
}

@media (max-width:480px ) {.datos_contacto svg {
    height: 20px;
    width: auto;
}}

[data-aos^="animate__"] {
    opacity: 0;
}

[data-aos^="animate__"].is-animated {
    opacity: 1;
}