:root {
    --primary: #175EAC;
    --secondary: #58585A;
    --terciary: #353535;
    --bg: #f7f7f7;
}

.dekton_video_hero{
    position: relative;
    height: 90vh; /* para ocupar toda la pantalla */
    overflow: hidden;
    align-content: center;
}

.video_fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* ajusta el video al contenedor */
    z-index: -1; /* lo manda detrás del contenido */
}

.dekton_video_hero_contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}



.dekton_video_hero_contenido p{
    position: relative;
    z-index: 1; /* asegura que el texto quede encima */
    color: white;
    font-family: 'Segoe UI';
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    }

.cont_logos_cosentino {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
}

.logo_cosentino {
    height: 80px;
    width: auto;
}

.logo_dekton {
    height: 70px;
    width: auto;
}

.logo_silestone {
    height: 50px;
    width: auto;
}

.logo_sensa {
    height: 40px;
    width: auto;
}

.hero_dekton {
    background-image: url("/static/img/collage_fondo_dekton.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont_logo_dekton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background: rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
    padding-top: 20px;
    background-size: contain;
}

.cont_caracteristicas_dekton{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px
}

.caractaristicas_dekton {
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.caractaristicas_dekton p{
    text-align: center;
    color: var(--bg);
    font-size: 30px;
    font-weight: 100;
    font-family: 'Segoe UI';
}

.logo_dekton_hdekton {
    height: 110px;
    width: auto;
}

.simbolos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 250px;
}

.simbolos img{
    height: 100px;
    width: auto;
    align-self: center;
}

.simbolos p {
    font-family: 'Segoe UI';
    color: var(--bg);
    font-size: 20px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
}

.img_hdekton {
    align-items: center;
}

.cont_dk_car{
    display: flex;
    flex-direction: column;
}

.aplicaciones_dk{
    display: flex;
    flex-direction: row;
}

.aplicaciones_dk_imagenes{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: flex-end;
}

.cont_imagenes {
    display: flex;
    flex-direction: column;

}

.aplicaciones_dk_fila{
    display: flex;
    gap: 12px;
}

.aplicaciones_dk_imagen1{
    position: relative;
    width: 838px;
    height: 284px;
    transition: transform 0.9s ease;
}

.aplicaciones_dk_imagen1:hover img{
    transform: scale(105%);
    
}

.aplicaciones_dk_imagen1_popover{
    position: absolute;
    border-radius: 5px;
    height: 80px;
    width: 150px;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    background-color: var(--bg);
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.aplicaciones_dk_imagen1_popover p{
    color: var(--primary);
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: 200;
}

.aplicaciones_dk_imagen1_popover a {
    color: var(--bg);
    text-decoration: none;
    font-family: 'Segoe UI';
    background-color: #175EAC;
    padding: 3px;
    border-radius: 5px;
    
}


.aplicaciones_dk_imagen1:hover .aplicaciones_dk_imagen1_popover{
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    pointer-events: auto;
}

.aplicaciones_dk_imagen2{
    width: 205px;
    height: 284px;
    position: relative;
    transition: transform 0.9s ease;
}

.aplicaciones_dk_imagen2:hover img{
    transform: scale(105%);
    z-index: -1;
    
}

.aplicaciones_dk_imagen2_popover{
    position: absolute;
    border-radius: 5px;
    height: 80px;
    width: 150px;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    background-color: var(--bg);
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    z-index: 10;
}
.aplicaciones_dk_imagen2_popover p{
    color: var(--primary);
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: 200;
}

.aplicaciones_dk_imagen2_popover a {
    color: var(--bg);
    text-decoration: none;
    font-family: 'Segoe UI';
    background-color: #175EAC;
    padding: 3px;
    border-radius: 5px;
}


.aplicaciones_dk_imagen2:hover .aplicaciones_dk_imagen2_popover{
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    pointer-events: auto;
}

.aplicaciones_dk_imagen3{
    width: 507px;
    height: 284px;
    position: relative;
    transition: transform 0.9s ease;
}

.aplicaciones_dk_imagen3:hover img{
    transform: scale(105%);
    z-index: -1;
    
}

.aplicaciones_dk_imagen3_popover{
    position: absolute;
    border-radius: 5px;
    height: 80px;
    width: 150px;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    background-color: var(--bg);
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    z-index: 10;
}
.aplicaciones_dk_imagen3_popover p{
    color: var(--primary);
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: 200;
}

.aplicaciones_dk_imagen3_popover a {
    color: var(--bg);
    text-decoration: none;
    font-family: 'Segoe UI';
    background-color: #175EAC;
    padding: 3px;
    border-radius: 5px;
}

.aplicaciones_dk_imagen3:hover .aplicaciones_dk_imagen3_popover{
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    pointer-events: auto;
}

.aplicaciones_dk_imagen4{
    width: 536px;
    height: 284px;
    position: relative;
    transition: transform 0.9s ease;
}

.aplicaciones_dk_imagen4:hover img{
    transform: scale(105%);
    z-index: -1;
    
}

.aplicaciones_dk_imagen4_popover{
    position: absolute;
    border-radius: 5px;
    height: 80px;
    width: 150px;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    background-color: var(--bg);
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    z-index: 10;
}
.aplicaciones_dk_imagen4_popover p{
    color: var(--primary);
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: 200;
}

.aplicaciones_dk_imagen4_popover a {
    color: var(--bg);
    text-decoration: none;
    font-family: 'Segoe UI';
    background-color: #175EAC;
    padding: 3px;
    border-radius: 5px;
}

.aplicaciones_dk_imagen4:hover .aplicaciones_dk_imagen4_popover{
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    pointer-events: auto;
}

.aplicaciones_dk_imagenes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.aplicaciones_dk_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    padding-left: 70px;
}

.aplicaciones_dk_fila_top {
    margin-bottom: 10px;
}

.aplicaciones_dk_info_2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.aplicaciones_dk_info_2 h3 {
    color: var(--primary);
    font-size: 50px;
    font-family: 'Segoe UI';
    font-weight: 300;

}

.aplicaciones_dk_info_2 a{
    font-family: 'Segoe UI';
    height: 60px;
    width: 210px;
    text-decoration: none;
    background-color: #175EAC;
    color: var(--bg);
    border-radius: 9px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

