{% extends "base.html" %}
{% load static %}

{% block title %}Catalogo{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'catalogo/catalogo.css' %}">
{% endblock %}

{% block content %}
<section class="slider_categorias">
    <button class="slider_btn boton_retroceder"></button>

    <div class="slider_track">
        {% for categoria in categorias %}
        <div class="slide"
             data-categoria="{{ categoria.slug }}"
             style="background-image: url('{{ categoria.imagen_slider.url }}');">
            {{ categoria.nombre }}
        </div>
        {% endfor %}
    </div>

    <button class="slider_btn boton_avanzar"></button>
</section>

<section class="tipo_de_piedra">
    {% for producto in productos %}
    <div class="producto" data-categoria="{{ producto.categoria.slug }}">
        <a class="producto_link" href="{% url 'producto_detalle' producto.slug %}">
            <div class="producto_media">
                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="producto_img">
                {% if producto.oferta %}
                <img src="{% static 'img/simbolo_oferta.png' %}" alt="Oferta" class="producto_etiqueta_oferta">
                {% endif %}
            </div>
            <p class="producto_nombre">{{ producto.categoria.nombre }} | {{ producto.nombre }}</p>
        </a>
    </div>
    {% endfor %}
</section>

<script src="{% static 'js/catalogo.js' %}"></script>
{% endblock %}
